/*
* HEADER
* The site header, contains the logo, search bar and (on mobile/tablet) the menu button
*/

@layer base {
	.hd-wrap {
		@apply sticky top-0 z-50 bg-white shadow-md landscape:static landscape:lg:sticky;
		background-color: #ffffff;
	}

	.hd-inner {
		@apply flex flex-row items-center
		gap-x-1 py-1.5
		px-1 tiny:gap-x-1 tiny:px-2 xs:gap-x-3 xs:px-3 sm:py-2
		lg:gap-x-4 xxl:px-4 xxxl:px-6;
	}

	.hd-inner.hidenav {
		@apply xxl:justify-between;
	}

	.skip-nav {
		@apply sr-only focus:not-sr-only;
	}

	.hd-menu {
		@apply xxl:hidden;
	}

	.menu-icon {
		@apply h-8 w-8 cursor-pointer text-gray-700;
	}

	.hd-logo-wrap {
		@apply mx-1 h-8 max-w-[32px] overflow-hidden md:h-auto md:max-w-none lg:mx-0;
	}

	.hd-logo {
		@apply h-8 overflow-hidden md:h-9;
	}

	/* Fallback for logo color, was not working on some older Safari browsers */
	.hd-logo-wrap svg {
		fill: #3c74d4 !important;
	}

	.hd-search {
		@apply ml-0.5 max-w-screen-xsm grow md:ml-2 xxl:ml-6 xxxl:ml-12;
	}

	.hd-login {
		@apply ml-auto hidden flex-row items-center gap-x-2 whitespace-nowrap xxl:flex;
	}

	.hidenav .hd-login {
		@apply xxl:ml-0;
	}

	.hd-login.logged-in {
		@apply gap-x-1;
	}

	.hd-login.logged-in * {
		@apply text-base text-gray-800;
	}
}
