/*
* IPO Table
* Tables on IPO pages
*/

@layer components {
	.ipotable {
		width: 100%;
	}

	.ipotable tr th {
		text-align: left;
		font-size: 1.05rem;
		font-weight: 600;
		border-top: 1px solid #ddd;
		background-color: #ffffff;
	}

	.ipotable tr > * {
		padding: 0.5rem;
		border-bottom: 1px solid #ddd;
		white-space: nowrap;
		max-width: 240px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.ipotable.calendar tr td {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}

	.ipotable tr > *:first-child {
		padding-left: 0.8rem;
	}

	.ipotable tr > *:last-child {
		padding-right: 0.8rem;
	}

	.ipotable tr > *:nth-child(n + 4) {
		text-align: right;
	}

	.ipotable tr > *:nth-child(n + 4) span {
		justify-content: end;
	}

	.ipotable.calendar tr > *:nth-child(n + 3) {
		text-align: right;
	}

	.ipotable.calendar tr > *:nth-child(n + 3) span {
		justify-content: end;
	}

	.ipotable tr:hover td {
		background-color: #f2f9ff !important;
	}

	.ipotable tr:nth-child(odd) {
		background-color: #f6f7f8;
	}

	.weekof {
		@apply inline-block leading-[1.15];
	}

	.weekof::before {
		@apply block text-[0.6rem] leading-none text-gray-600 -mt-0.5;
		content: 'week of';
	}

	.ipotable.calendar a {
		@apply bll;
	}

	@media screen and (max-width: 1350px) {
		.ipotable tr > * {
			padding: 0.5em 0.4em;
			max-width: 200px;
		}
		.ipotable tr > *:first-child {
			padding-left: 0.6rem;
		}
		.ipotable tr > *:last-child {
			padding-right: 0.6rem;
		}
	}

	@media screen and (max-width: 1279px) {
		.ipotable tr > * {
			padding: 0.6em 0.3em;
			max-width: 180px;
		}
		.ipotable tr > *:first-child {
			padding-left: 0.6rem;
		}
		.ipotable tr > *:last-child {
			padding-right: 0.6rem;
		}
	}

	@media screen and (max-width: 600px) {
		.ipotable tr > * {
			max-width: 170px;
		}
		.ipotable tr th {
			font-size: 0.95rem;
		}
		.ipotable tr td {
			font-size: 0.9rem;
		}
	}

	@media screen and (max-width: 400px) {
		.ipotable tr > * {
			max-width: 155px;
		}
		.ipotable tr > *:first-child {
			padding-left: 0.5rem;
		}
		.ipotable tr > *:last-child {
			padding-right: 0.5rem;
		}
	}
}
