/*
* Definitions
* An "i" icon with a popover that defines or explains something
*/

@layer components {
	.navmenu a::before,
	.navmenu li span::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.navmenu {
		@apply w-full flex flex-row whitespace-nowrap overflow-x-auto;
	}

	@media screen and (max-width: 600px) {
		.navmenu:not(.noshadow) {
			background-image: linear-gradient(to right, white, white),
				linear-gradient(to right, white, white),
				linear-gradient(
					to right,
					rgba(150, 150, 150, 0.15),
					rgba(255, 255, 255, 0)
				),
				linear-gradient(
					to left,
					rgba(150, 150, 150, 0.15),
					rgba(255, 255, 255, 0)
				);
			background-position: left center, right center, left center,
				right center;
			background-repeat: no-repeat;
			background-color: white;
			background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
			background-attachment: local, local, scroll, scroll;
		}
	}

	.navmenu.submenu {
		background-image: none;
	}

	.navmenu li a,
	.navmenu li span {
		@apply text-sm xs:text-base block py-1.5 sm:py-2 px-2 xs:px-3 sm:px-5;
	}

	.navmenu.smaller li a,
	.navmenu.smaller li span {
		@apply text-sm xs:text-smaller sm:px-4;
	}

	.navmenu.submenu li a,
	.navmenu.submenu li span {
		@apply px-2.5 bp:px-3 sm:px-4 text-sm xs:text-small bp:text-base;
	}

	.navmenu.submenu.tight li a {
		@apply text-tiny xs:text-small bp:text-base px-1.5 xs:px-2 bp:px-2.5 sm:px-4;
	}

	.navmenu.submenu li span {
		@apply cursor-pointer;
	}

	.navmenu li a.active,
	.navmenu li span.active {
		@apply text-gray-900 bg-[#eee] font-semibold;
	}

	.navmenu.darkbg li span.active {
		@apply bg-gray-200;
	}

	.navmenu li a.inactive,
	.navmenu li span.inactive {
		@apply bll hover:bg-gray-100 transition duration-100 cursor-pointer;
	}

	.navmenu.darkbg li span.inactive {
		@apply hover:bg-gray-200;
	}

	@media (hover: none) {
		.navmenu li a.inactive,
		.navmenu li span.inactive {
			@apply hover:bg-transparent hover:text-blue-link;
		}
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.navmenu::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.navmenu {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Prevent layout shift when element changes slightly */
	.dont-move::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}
