/*
* News
* News feed with articles and videos
*/

@layer components {
	.news-article {
		@apply bg-white p-4 md:px-0 sm:py-6 last:pb-1 shadow sm:shadow-none sm:grid sm:grid-cols-news gap-4 lg:gap-5 last:shadow-none;
	}

	.news-article > a {
		@apply sm:mt-1;
	}

	.news-article > a > img {
		@apply rounded;
	}

	.news-article > div {
		@apply flex flex-col;
	}

	.news-article > div > h3 {
		@apply text-xl font-bold mb-2 mt-3 sm:mt-0 leading-snug sm:leading-tight sm:order-2 hover:text-blue-brand_sharp;
	}

	.news-article > div > p {
		@apply text-gray-800 sm:order-3 text-[0.95rem];
	}

	.news-article > div > div.news-t {
		@apply mt-1.5 sm:mt-1 sm:order-4;
	}

	.news-article > div > div:last-child,
	.news-video > div:last-child {
		@apply mt-1 text-sm text-gray-700 sm:order-1 sm:mt-0;
	}

	.news-spns {
		@apply bg-white p-4 md:px-0 sm:py-6 lg:pt-6 lg:pb-4 shadow sm:shadow-none;
	}

	.news-video {
		@apply flex flex-col bg-white p-4 md:px-0 sm:py-6 last:pb-1 sm:first:pt-4 shadow sm:shadow-none last:shadow-none;
	}

	.news-video > h3 {
		@apply text-xl font-bold mb-2.5 xs:mb-3 leading-snug sm:leading-tight sm:order-2;
	}

	.news-video > div.news-e {
		@apply mb-3 sm:order-3 lg:pr-2;
	}

	.news-video > p {
		@apply text-gray-800 sm:order-4 text-[0.95rem];
	}

	.news-video > div.news-t {
		@apply mt-1.5 sm:mt-1 sm:order-5;
	}

	.news-ticker {
		@apply inline-flex items-center px-1.5 py-0.5 ml-1 sm:ml-1.5 mb-1 rounded-md text-sm font-medium bg-gray-100 hover:bg-gray-200 bll;
	}
}
