/*
* Ads
* Styles that can be applied to ads
*/

@layer utilities {
	.center-children div iframe {
		@apply mx-auto text-center;
	}

	.fullwidth .header-ad {
		@apply bg-gray-100 -mb-4;
	}

	/* Sidebar 1 */
	.sb-1 {
		@apply w-[300px] h-[250px] hidden lg:block mx-auto bg-blue-100;
	}

	/* Show on all devices
	Desktop: Rectangle
	Tablet: Leaderboard
	Mobile: Rectangle 
	*/
	.sb-1a {
		@apply w-[300px] h-[250px] bp:w-[336px] bp:h-[280px] md:w-[728px] md:h-[90px] lg:w-[336px] lg:h-[280px] block mt-8 mx-auto bg-blue-100;
	}

	/* Sidebar 2 - 300x600 */
	.sb-2 {
		@apply w-[300px] h-[600px] hidden lg:block mx-auto;
	}

	/* Mobile 1 */
	.m-1 {
		@apply w-[300px] h-[250px] bp:w-[336px] bp:h-[280px] md:w-[728px] md:h-[90px] lg:hidden mx-auto bg-blue-100;
	}
}
