/*
* Ads
* Styles that can be applied to ads
*/

@layer utilities {
	.center-children div iframe {
		@apply mx-auto text-center;
	}

	.fullwidth .header-ad {
		@apply -mb-4 bg-gray-100;
	}

	/* Sidebar 1 */
	.sb-1 {
		@apply mx-auto hidden h-[250px] w-[300px] lg:block;
	}

	/* Show on all devices
	Desktop: Rectangle
	Tablet: Leaderboard
	Mobile: Rectangle 
	*/
	.sb-1a {
		@apply mx-auto mt-8 block h-[250px] w-[300px] bp:h-[280px] bp:w-[336px] md:h-[90px] md:w-[728px] lg:h-[280px] lg:w-[336px];
	}

	/* Sidebar 2 - 300x600 */
	.sb-2 {
		@apply mx-auto hidden h-[600px] w-[300px] lg:block;
	}

	/* Mobile 1 */
	.m-1 {
		@apply mx-auto h-[250px] w-[300px] bp:h-[280px] bp:w-[336px] md:h-[90px] md:w-[728px] lg:hidden;
	}
}
