/*
* Uncategorized
* Single styles that don't fit into the other categories
*/

@layer utilities {
	.profilewrap {
		width: calc(100% - 336px - 40px);
	}

	.green-quote {
		@apply text-green-700;
	}

	span.green-quote::before {
		content: '+';
	}

	.profile-table tr:not(:last-child) {
		@apply border-b border-gray-200;
	}

	table.n3-right tr > *:nth-child(n + 4) {
		text-align: right;
	}
}
