/*
* Symbol Table - Index
* Configure the symbol table for the index pages (/stocks/ and /etf/)
*/

@layer components {
	.symbol-table.index tr > *:nth-child(n + 4) {
		text-align: right;
	}

	.symbol-table.index tr td:not(:nth-child(2)) {
		white-space: nowrap;
	}

	@media screen and (max-width: 600px) {
		.symbol-table.index tr td:nth-child(2) {
			max-width: 280px;
		}
	}

	@media screen and (max-width: 400px) {
		.symbol-table.index tr td:nth-child(2) {
			max-width: 260px;
		}
	}
}
