/*
* Symbol Table - Screener
* Configure the symbol table for the screeners
*/

#screener-table tr > th {
	@apply font-semibold;
}

#screener-table tr > * {
	max-width: 210px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#screener-table tr > *:first-child {
	width: 100px;
}

#screener-table tr > *:nth-child(2) {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#screener-table.etf tr > *:nth-child(2) {
	max-width: 250px;
}
