/*
* GLOBAL STYLES
* Styles that are are applied globally as defaults
*/

@layer base {
	body {
		@apply bg-white text-gray-900;
	}

	/* Fix bug with iOS scroll when focusing an input element */
	html,
	body {
		-webkit-overflow-scrolling: touch !important;
		overflow: auto !important;
	}

	.bll {
		@apply text-blue-link hover:text-gray-900;
		color: #1e73ba;
	}

	.bll:hover {
		color: #111827;
	}

	.hh1 {
		@apply mb-4 text-3xl font-bold;
	}

	.hh2 {
		@apply mb-3 text-2xl font-bold;
	}

	.hh3 {
		@apply mb-2.5 text-xl font-bold xs:mb-3;
	}

	.text-shadow {
		text-shadow: 0 0 0.5px #555555;
	}

	.button-blue {
		@apply bg-blue-brand_light text-white hover:bg-blue-brand_sharp;
		color: #ffffff;
		background-color: #3c74d4;
	}
}
